@{
  TempData.Keep();
  string? currentPage = ViewContext.HttpContext.Request.Path;
}

<!-- Menu -->
@* ! Do this simple *@
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

  @* ! Hide app brand if navbar-full *@
  <div
    class='app-brand demo @((@ViewData["navbarFull"] != null && Convert.ToBoolean(@ViewData["navbarFull"])) ? "d-xl-none" : "")'>
    <a asp-controller="Home" asp-action="Index" class="app-brand-link">
      <span class="app-brand-logo demo">
        @await Html.PartialAsync("../_Partials/_Macros")
      </span>
      <span class="app-brand-text demo menu-text fw-bold">@TempData.Peek("appName")</span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
      <i class="ti menu-toggle-icon d-none d-xl-block align-middle"></i>
      <i class="ti ti-x d-block d-xl-none ti-md align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  @* ! Full version menu-items *@
  <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class='menu-item@(currentPage.StartsWith("/Home") ? " active" : "")'>
            <a asp-controller="Home" asp-action="Index" class="menu-link">
                <i class="menu-icon tf-icons ti ti-layout-grid"></i>
                <div data-i18n="Dashboard">Dashboard</div>
            </a>
        </li>
        
        <!-- Criminal -->
        <li class='menu-item@(currentPage.StartsWith("/Criminal") ? " active open" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons ti ti-layout-sidebar"></i>
                <div data-i18n="Criminal">Criminal</div>
            </a>

            <ul class="menu-sub">

                <li class='menu-item@(currentPage == "/Criminal/ViewList" ? " active" : "")'>
                    <a asp-controller="Criminal" asp-action="ViewList" class="menu-link">
                        <div data-i18n="Criminal View">Criminal View</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/Criminal/Add" ? " active" : "")'>
                    <a asp-controller="Criminal" asp-action="Add" class="menu-link">
                        <div data-i18n="Criminal Add">Criminal Add</div>
                    </a>
                </li>
                @* <li class='menu-item@(currentPage == "/Criminal/Search" ? " active" : "")'> *@
                @*     <a asp-controller="Criminal" asp-action="Search" class="menu-link"> *@
                @*         <div data-i18n="Criminal Search">Criminal Search</div> *@
                @*     </a> *@
                @* </li> *@
            </ul>
        </li>
        <!-- Users Section -->
        
        <li class='menu-item@(currentPage.StartsWith("/User") ? " active open" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons ti ti-users"></i>
                <div data-i18n="Users">Users</div>
            </a>
            <ul class="menu-sub">
                <li class='menu-item@(currentPage == "/User/List" ? " active" : "")'>
                    <a asp-controller="User" asp-action="List" class="menu-link">
                        <div data-i18n="User List">User List</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/User/Add" ? " active" : "")'>
                    <a asp-controller="User" asp-action="Add" class="menu-link">
                        <div data-i18n="User Add">User Add</div>
                    </a>
                </li>
                @* <li class='menu-item@(currentPage == "/User/Ranking" ? " active" : "")'> *@
                @*     <a asp-controller="User" asp-action="Ranking" class="menu-link"> *@
                @*         <div data-i18n="User Ranking">User Ranking</div> *@
                @*     </a> *@
                @* </li> *@
            </ul>
        </li>

        <!-- Cases Section -->
        
        <li class='menu-item@(currentPage.StartsWith("/Case") ? " active open" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons ti ti-briefcase"></i>
                <div data-i18n="Cases">Cases</div>
            </a>
            <ul class="menu-sub">
                <li class='menu-item@(currentPage == "/Case/Index" ? " active" : "")'>
                    <a asp-controller="Case" asp-action="Index" class="menu-link">
                        <div data-i18n="All Cases">All Cases</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/Case/Create" ? " active" : "")'>
                    <a asp-controller="Case" asp-action="Create" class="menu-link">
                        <div data-i18n="Create Case">Create Case</div>
                    </a>
                </li>
            </ul>
        </li>

        <!-- Teams Section -->
       
        <li class='menu-item@(currentPage.StartsWith("/Team") ? " active open" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons ti ti-users-group"></i>
                <div data-i18n="Teams">Teams</div>
            </a>
            <ul class="menu-sub">
                <!-- Teams You Lead -->
                <li class='menu-item@(currentPage == "/Team/YourTeams" || currentPage.StartsWith("/Team/Details") ? " active" : "")'>
                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                        <i class="menu-icon tf-icons ti ti-crown"></i>
                        <div data-i18n="Teams You Lead">Teams You Lead</div>
                    </a>
                    <ul class="menu-sub">
                        <li class='menu-item@(currentPage == "/Team/LeadingTeams" ? " active" : "")'>
                            <a asp-controller="Team" asp-action="LeadingTeams" class="menu-link">
                                <div data-i18n="View Teams">View Teams</div>
                            </a>
                        </li>
                        <li class='menu-item@(currentPage == "/Team/Create" ? " active" : "")'>
                            <a asp-controller="Team" asp-action="Create" class="menu-link">
                                <div data-i18n="Create Team">Create Team</div>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- Teams You're Member Of -->
                <li class='menu-item@(currentPage == "/Team/MemberTeams" || currentPage.StartsWith("/Team/Details") ? " active" : "")'>
                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                        <i class="menu-icon tf-icons ti ti-users"></i>
                        <div data-i18n="Member Teams">Member Teams</div>
                    </a>
                    <ul class="menu-sub">
                        <li class='menu-item@(currentPage == "/Team/MemberTeams" ? " active" : "")'>
                            <a asp-controller="Team" asp-action="MemberTeams" class="menu-link">
                                <div data-i18n="View Teams">View Teams</div>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- All Teams -->
                <li class='menu-item@(currentPage == "/Team/AllTeams" ? " active" : "")'>
                    <a asp-controller="Team" asp-action="AllTeams" class="menu-link">
                        <i class="menu-icon tf-icons ti ti-list-search"></i>
                        <div data-i18n="All Teams">All Teams</div>
                    </a>
                </li>
            </ul>
        </li>

        <!-- Bounties Section -->
       
        
        <!-- Tasks Section -->
        
        <li class='menu-item@(currentPage.StartsWith("/Files") ? " active open" : "")'>
            <a asp-controller="Tasks" asp-action="List" class="menu-link">
                <i class="menu-icon tf-icons ti ti-checklist"></i>
                <div data-i18n="Files">Files</div>
            </a>    
        </li>

        <!-- Messaging Section -->
        <li class='menu-item@(currentPage.StartsWith("/TeamMessage") ? " active" : "")'>
            <a asp-controller="TeamMessage" asp-action="Index" class="menu-link">
                <i class="menu-icon tf-icons ti ti-message-circle"></i>
                <div data-i18n="Team Chat">Team Chat</div>
            </a>
        </li>
       
        <li class='menu-item@(currentPage.StartsWith("/Activtylog") ? " active open" : "")'>
            <a asp-controller="Activitylog" asp-action="Index" class="menu-link">
                <i class="menu-icon tf-icons ti ti-settings"></i>
                <div data-i18n="Logs">Logs</div>
            </a>
        </li>

    </ul>

</aside>
<!-- / Menu -->
